/* ===========================
   Responsive - Téléphone
=========================== */

.menu-toggle{
    display:none;
}

@media (max-width:768px){

/* Navbar */
.navbar{
    flex-direction:column;
    align-items:center;
    gap:15px;
    padding:15px 20px;
    position:relative;
}

.logo{
    font-size:28px;
}

.menu-toggle{
    display:block;
    font-size:30px;
    cursor:pointer;
}

.nav-links{
    display:none;
    flex-direction:column;
    position:absolute;
    top:80px;
    left:0;
    width:100%;
    background:#fff;
    padding:20px;
    text-align:center;
    gap:15px;
}

.nav-links.active{
    display:flex;
}

.nav-links li{
    list-style:none;
}

.btn{
    display:none;
}

/* Hero */
.hero{
    flex-direction:column;
}

.hero-text,
.hero-image{
    width:100%;
    text-align:center;
}

/* About */
.about{
    flex-direction:column;
    width:95%;
    margin:40px auto;
}

.about-image,
.about-text{
    width:100%;
}

/* Contact */
.contact{
    grid-template-columns:1fr;
    width:95%;
}

.left,
.right{
    width:100%;
}

form{
    width:100%;
}

/* Services */
.services{
    grid-template-columns:1fr;
}

.card{
    width:100%;
}

.card img{
    width:100%;
    height:auto;
}

/* Rendez-vous */
.appointment{
    flex-direction:column;
}

.appointment-form,
.appointment-image{
    width:100%;
}

.appointment-image img{
    width:100%;
    height:auto;
}

img{
    max-width:100%;
    height:auto;
}

}