/* ========================= */
/* Responsive Mobile */
/* ========================= */

@media screen and (max-width:768px){

/* Navbar */
.navbar{
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:20px;
    gap:20px;
    position:relative;
}

.logo{
    font-size:28px;
}

.nav-links{
    flex-direction:column;
    gap:15px;
    width:100%;
    text-align:center;
}

.nav-links li{
    list-style:none;
}

.btn{
    width:220px;
    text-align:center;
}

/* Hero */
.hero{
    flex-direction:column-reverse;
    text-align:center;
    padding:40px 20px;
    gap:30px;
    min-height:auto;
}

.hero-text,
.hero-image{
    width:100%;
}

.hero-text h1{
    font-size:38px;
    line-height:1.3;
}

.hero-text p{
    font-size:17px;
}

.hero-image img{
    width:100%;
    max-width:350px;
    height:auto;
}

.bouttons{
    justify-content:center;
    flex-wrap:wrap;
}

/* Rendez-vous */
.appointment{
    flex-direction:column;
    padding:40px 20px;
    gap:30px;
}

.appointment-form,
.appointment-image{
    width:100%;
}

.appointment-form{
    padding:25px;
}

.appointment-image img{
    width:100%;
    height:auto;
}

.appointment-form input,
.appointment-form select,
.appointment-form textarea,
.appointment-form button{
    width:100%;
}

/* Témoignages */
.testimonials{
    padding:50px 20px;
}

.testimonials h2{
    font-size:32px;
}

.testimonial-container{
    grid-template-columns:1fr;
}

/* Merci */
.merci-box{
    width:95%;
    padding:30px;
}

}